[submodule "lib/Symfony/Component/DependencyInjection"]
	path = lib/Symfony/Component/DependencyInjection
	url = https://github.com/symfony/DependencyInjection
[submodule "lib/Symfony/Component/Config"]
	path = lib/Symfony/Component/Config
	url = https://github.com/symfony/Config.git
[submodule "lib/Symfony/Component/Yaml"]
	path = lib/Symfony/Component/Yaml
	url = https://github.com/symfony/Yaml
